.delivery-section {
  background: "../../img/raspberry-bg.png" no-repeat;
  background-size: cover;
  position: relative;

  &:before {
    content: "../../img/decor/blueberry.png";
    position: absolute;
    bottom: 100px;
    left: 70px;
  }

  &:after {
    content: "../../img/decor/leaf.png";
    position: absolute;
    bottom: 50px;
    right: 20px;
  }
}