.reviews-section {
  position: relative;

  &:before {
    content: "../../img/decor/half-leaf-berries.png";
    position: absolute;
    bottom: -160px;
    left: 0;
    z-index: 10;
  }

  &:after {
    content: "../../img/decor/strawberry.png";
    position: absolute;
    top: 50px;
    right: 20px;
  }
}