$lightBlue: #C6F7FF;
$social: #B3B3B3;

.phone-icon {
  fill: white;
  width: 14px;
  height: 15px;
}

.footer {
  .phone-icon {
    fill: $darkGreen;
  }
}

.leaf-icon,
.truck-icon,
.measure-icon {
  fill: $lightBlue;
  width: 41px;
  height: 41px;
}

.human-icon {
  width: 68px;
  height: 69px;
}

.smile-icon,
.muscle-icon {
  width: 68px;
  height: 68px;
}

.fb-icon {
  width: 24px;
  height: 24px;
  fill: $social;
}

.insta-icon {
  width: 24px;
  height: 24px;
  fill: $social;
}

.vk-icon {
  width: 24px;
  height: 24px;
  fill: $social;
}

.tw-icon {
  width: 24px;
  height: 21px;
  fill: $social;
}

.left-arrow-icon {
  width: 24px;
  height: 40px;
  stroke: #000;
}

.right-arrow-icon {
  width: 24px;
  height: 40px;
  stroke: #000;
}

.candy-icon {
  width: 46px;
  height: 46px;
  fill: #fff;
}

.almond-icon {
  width: 32px;
  height: 32px;
  fill: #000;
}
    
.apitherapy-icon {
  width: 32px;
  height: 32px;
  fill: #000;
}

.beans-icon {  
  width: 32px;
  height: 32px;
  fill: #000;
}

.grape-icon {
  width: 32px;
  height: 32px;
  fill: #000;
}

.nut-icon {
  width: 32px;
  height: 32px;
  fill: #000;
}

.washing-powder-icon {
  width: 32px;
  height: 32px;
  fill: #000;
}

.oat-icon {
  width: 32px;
  height: 32px;
  fill: #000;
}

.seaweed-icon {
  width: 32px;
  height: 32px;
  fill: #000;
}

.seeds-icon {
  width: 32px;
  height: 32px;
  fill: #000;
}

.play-icon {
  width: 22px;
  height: 22px;
  fill: #626262;
}

.pause-icon {
  width: 22px;
  height: 22px;
  fill: #626262;
}

.volume-icon {
  width: 22px;
  height: 22px;
  fill: #626262;
}