.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  @include tablets {
    align-items: center;
  }

  &__contacts {
    @include tablets {
      display: none;
    }
  }
}