.reviews-section {
  position: relative;

  &:before {
    content: url("img/decor/half-leaf-berries.png");
    position: absolute;
    bottom: rem(-160px);
    left: 0;
    z-index: 10;
  }

  &:after {
    content: url("img/decor/strawberry.png");
    position: absolute;
    top: rem(50px);
    right: rem(20px);
  }
}